@import "variables.scss";
footer {
  background: $lightBlue;
  position: relative;
  .row {
    padding: 1rem 0;
    .social-lists {
      li {
        display: inline-block;
        @media screen and (min-width: 992px) {
          margin-right: 1.5rem;
        }
        a {
          i {
            font-size: 2em;
            color: $actionColor;
          }
        }
      }
    }
    p {
      font-size: 0.8em;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        font-size: 1em;
        display: inline-block;
        margin-right: 1.5rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  a {
    color: $grey;
    &:hover {
      opacity: 0.8;
    }
  }
}
