footer {
  background: $bgColor;
  position: relative;
  .logo {
    img {
      width: 120px;
    }
  }
  a {
    color: $grey;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .footer-top {
    padding: 3rem 0 2rem 0;
    .footer-widgets {
      text-align: left;
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 0;
      }
      .social-lists {
        li {
          display: inline-block;
          margin-bottom: 0;
          margin-right: 2rem;
          &:last-child {
            margin-right: 0;
          }
          a {
            i {
              font-size: 2em;
              color: $actionColor;
            }
          }
        }
      }
      p {
        margin: 1rem 0 1.5rem 0;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          margin-bottom: 0.5rem;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .copyright-bottom {
    padding: 1rem 0;
    border-top: 1px solid $grey;
    p {
      font-size: 0.8em;
    }
    ul {
      text-align: right;
      li {
        display: inline-block;
        margin-right: 1.5rem;
        &:last-child {
          margin-right: 0;
        }
        &:first-child {
          a {
            border: none;
            margin-left: 0;
            padding-left: 0;
          }
        }
      }
    }
  }
}
