@import "variables.scss";
footer {
  background: $actionColor;
  .row {
    .col-sm-12 {
      margin-bottom: 2.5rem;
      &:last-child {
        margin-bottom: 0;
      }
      @media screen and (min-width: 992px) {
        margin-bottom: 0;
        margin-top: 0;
      }
      p {
        font-size: 1em;
        color: #fff;
      }
      a {
        color: #fff;
        transition: $transition;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        font-size: 1em;
        display: inline-block;
        margin-right: 1.5rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .social-lists {
      li {
        display: inline-block;
        @media screen and (min-width: 992px) {
          margin-right: 2rem;
          &:last-child {
            margin-right: 0;
          }
        }
        a {
          i {
            font-size: 2em;
            color: #fff;
          }
        }
      }
    }
  }
}
