@import "variables.scss";
.home {
  header {
    background: url("img/bg-illustration-2.svg");
    background-repeat: repeat-y;
    background-position: bottom;
    background-size: 100%;
    height: 100vh;
    width: 100%;
    @media screen and (min-width: 992px) {
      background-repeat: no-repeat;
      background-position: center 0;
      background-size: contain;
    }
    h1 {
      span {
        color: $primaryColor;
      }
      margin-bottom: 1.5rem;
    }
    p {
      margin-bottom: 0;
    }
    .scroll-down-btn {
      position: absolute;
      z-index: 1;
      bottom: 2.5rem;
      display: none;
      @media (min-width: 767px) {
        display: block;
      }
      svg {
        width: 2rem;
      }
    }
    .header-social {
      position: absolute;
      bottom: 0;
      left: 5%;
      div {
        display: block;
        width: 2px;
        height: 3rem;
        background: $actionColor;
      }
      .social-lists {
        li {
          display: inline-block;
          margin-bottom: 0.75rem;
          &:last-child {
            margin-bottom: 0.2rem;
          }
          a {
            i {
              font-size: 1.3em;
              color: $actionColor;
              transform: rotate(270deg);
            }
          }
        }
      }
    }
  }
}

.page {
  header {
    background: url("img/bg-illustration-2.svg");
    background-repeat: repeat-y;
    background-position: bottom;
    background-size: 100%;
    height: 35vh;
    padding: 0 0 1.5rem 0;
    @media screen and (min-width: 992px) {
      height: 50vh;
    }
    width: 100%;
    .header-breadcrumb {
      span {
        color: $black;
        margin: 0 0.5rem;
      }
      a {
        font-family: $montserratRegular;
        color: $black;
      }
      .breadcrumb-active {
        color: $primaryColor;
        font-family: $montserratSemibold;
      }
    }
  }
}
