/*----------------------------------------*/
/*  01. About us
/*----------------------------------------*/
#about-us .heading {
  margin-bottom: 1rem;
}

#about-us ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* Remove default bullets */
}

#about-us ul li {
  margin: 0;
}

#about-us ul li::before {
  content: "\25A0";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #f5fbff;
  /* Change the color */
  font-size: 12px;
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1.4em;
  /* Also needed for space (tweak if needed) */
}

#about-us .row .col-sm-12 {
  margin-bottom: 2.5rem;
}

#about-us .row .col-sm-12:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  #about-us .row .col-sm-12 {
    margin-bottom: 0;
  }
}

/*----------------------------------------*/
/*  02. SERVICES
/*----------------------------------------*/
#services .services .col-lg-4 {
  margin-bottom: 1.5rem;
}

#services .services .col-lg-4:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  #services .services .col-lg-4 {
    margin-bottom: 0;
  }
}

#services .services .col-lg-4 .service {
  background: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  padding: 1.5rem 2rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#services .services .col-lg-4 .service:hover {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

#services .services .col-lg-4 .service .service-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

#services .services .col-lg-4 .service .service-icon img {
  height: 2rem;
}

#services .services .col-lg-4 .service h4 {
  margin-bottom: 0.5rem;
}

#services .services .col-lg-4 .service p {
  margin-bottom: 0.75rem;
}

.service-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.service-icon img {
  height: 2rem;
}

.icon-blue {
  background: #f5fbff;
}

.icon-blue i {
  color: #1668a0;
}

.icon-red {
  background: rgba(255, 186, 186, 0.164);
}

.icon-red i {
  color: #940808;
}

.icon-yellow {
  background: rgba(253, 253, 165, 0.281);
}

.icon-yellow i {
  color: #a3a303;
}

/*----------------------------------------*/
/*  03. ROADMAP
/*----------------------------------------*/
#roadmap {
  background: #f5fbff;
}

#roadmap .roadmap .line {
  height: 100%;
  width: 4px;
  background: #000;
}

#roadmap .roadmap .dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
  display: block;
  position: relative;
  left: -8px;
  top: 15%;
}

@media screen and (min-width: 992px) {
  #roadmap .roadmap .dot {
    top: calc(50% - 12px);
  }
}

#roadmap .roadmap .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1fr;
      grid-template-columns: 10% 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "a b" "a c";
  width: 100%;
}

@media screen and (min-width: 992px) {
  #roadmap .roadmap .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "b a c";
  }
}

@media screen and (min-width: 992px) {
  #roadmap .roadmap .grid:nth-child(even) {
        grid-template-areas: "c a b";
  }
}

#roadmap .roadmap .roadmap-line {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: a;
}

#roadmap .roadmap .roadmap-content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#roadmap .roadmap .roadmap-img {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (min-width: 992px) {
  #roadmap .roadmap .roadmap-img,
  #roadmap .roadmap .roadmap-content {
    padding: 2rem 0;
  }
}

/*----------------------------------------*/
/*  04. PORTFOLIO
/*----------------------------------------*/
#portfolio .projects-container .col-lg-4 {
  margin-bottom: 1.5rem;
}

#portfolio .projects-container .col-lg-4:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  #portfolio .projects-container .col-lg-4 {
    margin-bottom: 0;
  }
}

#portfolio .projects-container .project {
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  background: #fff;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#portfolio .projects-container .project:hover {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}

#portfolio .projects-container .project .project .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

#portfolio .projects-container .project .content {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

#portfolio .projects-container .project .content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

#portfolio .projects-container .project .content:hover .content-overlay {
  opacity: 1;
}

#portfolio .projects-container .project .content .content-overlay {
  background: #1669a0e7;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#portfolio .projects-container .project .content .img-container {
  padding: 1.5rem 2rem;
  width: 100%;
}

#portfolio .projects-container .project .content .img-container .content-image {
  width: 100%;
}

#portfolio .projects-container .project .content .content-details {
  position: absolute;
  text-align: left;
  padding: 1.5rem;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#portfolio .projects-container .project .content .content-details .project-icon {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 10px;
  width: 2.5rem;
  height: 2.5rem;
}

#portfolio .projects-container .project .content .content-details .project-icon i {
  color: #fff;
}

#portfolio .projects-container .project .content .content-details h4 {
  color: #fff;
  margin: 0.75rem 0 0.35rem 0;
}

#portfolio .projects-container .project .content .content-details p {
  color: #fff;
  margin-bottom: 0;
}

#portfolio .projects-container .project .content .fadeIn-bottom {
  top: 80%;
}

#portfolio .projects-container .project .content .fadeIn-top {
  top: 20%;
}

#portfolio .projects-container .project .content .fadeIn-left {
  left: 20%;
}

#portfolio .projects-container .project .content .fadeIn-right {
  left: 80%;
}

/*----------------------------------------*/
/*  05. TESTIMONIALS
/*----------------------------------------*/
#testimonials {
  padding: 3rem 0 6rem 0;
  background: #f5fbff;
}

@media screen and (min-width: 992px) {
  #testimonials {
    padding: 4.5rem 0 7.5rem 0;
  }
}

#testimonials .testimonials-container {
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  border-radius: 8px;
  background: #fff;
}

#testimonials .testimonials-container .carousel-item {
  height: 280px;
}

#testimonials .testimonials-container .carousel-item .blockquote {
  margin-bottom: 0;
  width: 100%;
}

#testimonials .carousel-control .carousel-indicators {
  bottom: -25%;
}

#testimonials .carousel-control i {
  color: #303030;
  font-size: 1.5em;
}

#testimonials .carousel-control li {
  background-color: #303030;
}

/*----------------------------------------*/
/*  06. Technologies
/*----------------------------------------*/
#technologies {
  background: #f5fbff;
}

#technologies .container .col-12 {
  margin-bottom: 1.5rem;
}

#technologies .container .col-12 h4 {
  margin-bottom: 0;
  color: #75c6fd;
}

#technologies .container .col-sm-12 {
  margin-bottom: 1.5rem;
}

#technologies .container .col-sm-12:last-child {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

@media screen and (min-width: 767px) {
  #technologies .container .col-sm-12 {
    margin-bottom: 0;
    margin-top: 0;
  }
}

#technologies .container .icon img {
  margin: 0 auto;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  height: 60px;
}

@media screen and (min-width: 992px) {
  #technologies .container .icon img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    cursor: pointer;
  }
  #technologies .container .icon img:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    cursor: default;
  }
}

/*----------------------------------------*/
/*  07. Why-Choose Section Style
/*----------------------------------------*/
.why-choose-section .row {
  position: relative;
}

.why-choose-section .heading {
  margin-bottom: 1rem;
}

.why-choose-section .single-why {
  background: #fff;
  border-radius: 8px;
  padding: 1.5rem 2rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}

.why-choose-section .single-why .service-icon {
  margin-bottom: 0;
}

.why-choose-section .single-why h4 {
  margin: 1rem 0 0 0;
}

@media (min-width: 992px) {
  .why-choose-section .single-why {
    margin-bottom: 0;
  }
}

.why-choose-section .single-why:hover {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.why-choose-section .why-left-wrap p {
  margin-bottom: 0;
}

@media (max-width: 485px) {
  .why-choose-section .why-left-wrap {
    width: 100%;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .why-choose-section .why-left-wrap {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .why-choose-section .why-left-wrap {
    padding-top: 30px;
    margin: 0 auto;
    float: none;
    text-align: center;
  }
}

.why-choose-section h5 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0px;
  padding: 20px 0px;
}

.why-choose-section p {
  margin-bottom: 20px;
}

/*----------------------------------------*/
/*  08. Contact
/*----------------------------------------*/
#contact .container .row:last-child .col-sm-12 {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 992px) {
  #contact .container .row:last-child .col-sm-12 {
    margin-bottom: 0;
  }
}

#contact .container .row:last-child .col-sm-12:last-child {
  margin-bottom: 0;
}

#contact .container .row .form-container label {
  color: #3f3c3c;
}

#contact .container .row .form-container input[type="text"],
#contact .container .row .form-container input[type="email"],
#contact .container .row .form-container input[type="tel"],
#contact .container .row .form-container textarea {
  background: #f5fbff;
  border: 1px solid #ececec;
}

#contact .container .row .form-container .btn {
  margin-top: 1rem;
  float: right;
}

#contact .container .row .contact-info {
  margin-top: 2rem;
}

#contact .container .row .contact-info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

#contact .container .row .contact-info a:hover {
  text-decoration: none;
}

#contact .container .row .contact-info a:last-child {
  margin-bottom: 0;
}

#contact .container .row .contact-info a span {
  color: #3f3c3c;
  font-size: 1em;
}

#contact .container .row .contact-info a img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

#pricing .card {
  border: none;
  border-radius: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 992px) {
  #pricing .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
}

#pricing .card .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

#pricing .card .card-price {
  font-size: 3rem;
  margin: 0;
}

#pricing .card .card-price .period {
  font-size: 0.8rem;
}

#pricing .card .card-price ul li {
  margin-bottom: 1rem;
}

#pricing .card .text-muted {
  opacity: 0.7;
}

#pricing hr {
  margin: 1.5rem 0;
}
/*# sourceMappingURL=home.css.map */