/*----------------------------------------*/
/*  Table of contents
/*----------------------------------------*/
/*
1. About us
2. Roadmap
3. Services
4. Portfolio
5. Testimonials
7. Stats
8. Why Choose
*/

/*----------------------------------------*/
/*  01. About us
/*----------------------------------------*/

#about-us {
  ul {
    margin: 0;
    padding: 0;
    list-style: none; /* Remove default bullets */
    li {
      margin: 0;
    }
    li::before {
      content: "\25A0"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: $lightBlue; /* Change the color */
      font-size: 12px;
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1.4em; /* Also needed for space (tweak if needed) */
    }
  }
}

/*----------------------------------------*/
/*  02. SERVICES
/*----------------------------------------*/

#services {
  background: $bgColor;
  .services {
    .col-lg-4 {
      .service {
        background: #fff;
        border-radius: 8px;
        box-shadow: $boxShadow;
        padding: 1rem 1.5rem;
      }

      .service-icon {
        background: $bgColor;
        width: 5rem;
        height: 5rem;
        border-radius: 8px;
        i {
          font-size: 1.5em;
        }
      }
    }
  }
}

/*----------------------------------------*/
/*  03. ROADMAP
/*----------------------------------------*/

#roadmap {
  display: none;
  .roadmap {
    .line {
      height: 100%;
      width: 4px;
      background: #000;
    }
    .dot {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #000;
      display: block;
      position: relative;
      left: -8px;
      top: 15%;
      @media screen and (min-width: 992px) {
        top: calc(50% - 12px);
      }
    }

    .grid {
      display: grid;
      grid-template-columns: 10% 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "a b"
        "a c";
      width: 100%;
      @media screen and (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "b a c";
      }
    }

    .grid:nth-child(even) {
      @media screen and (min-width: 992px) {
        grid-template-areas: "c a b";
      }
    }

    .roadmap-line {
      grid-area: a;
    }

    .roadmap-content {
      grid-area: b;
      align-self: center;
    }

    .roadmap-img {
      grid-area: c;
      justify-self: center;
    }

    @media screen and (min-width: 992px) {
      .roadmap-img,
      .roadmap-content {
        padding: 2rem 0;
      }
    }
  }
}

/*----------------------------------------*/
/*  04. PORTFOLIO
/*----------------------------------------*/

#portfolio {
  .project {
    box-shadow: $boxShadow;
    overflow: hidden;
    border-radius: $borderRadius;
    position: relative;

    .project .title {
      color: #1a1a1a;
      text-align: center;
      margin-bottom: 10px;
    }

    .content {
      position: relative;
      width: 100%;
      max-width: 400px;
      margin: auto;
      overflow: hidden;
    }

    .content .content-overlay {
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      transition: $transition;
    }

    .content:hover .content-overlay {
      opacity: 1;
    }

    .img-container {
      padding: $padding;
      width: 100%;
    }

    .content-image {
      width: 100%;
    }

    .content-details {
      position: absolute;
      text-align: center;
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
      top: 50%;
      left: 50%;
      opacity: 0;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    .content:hover .content-details {
      top: 50%;
      left: 50%;
      opacity: 1;
    }

    .content-details h3 {
      color: #fff;
      font-weight: 500;
      letter-spacing: 0.15em;
      margin-bottom: 0.5em;
      text-transform: uppercase;
    }

    .content-details p {
      color: #fff;
      font-size: 0.8em;
    }

    .fadeIn-bottom {
      top: 80%;
    }

    .fadeIn-top {
      top: 20%;
    }

    .fadeIn-left {
      left: 20%;
    }

    .fadeIn-right {
      left: 80%;
    }
  }
}

/*----------------------------------------*/
/*  05. TESTIMONIALS
/*----------------------------------------*/

#testimonials {
  background: $bgColor;
  .testimonials-container {
    background: #fff;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    padding: $padding;
  }
  #client-testimonial-carousel {
    min-height: 200px;
  }
  .carousel-control i {
    color: #303030;
    font-size: 1.5em;
  }
  .carousel-control li {
    background-color: #303030;
  }
}

/*----------------------------------------*/
/*  06. Stat Section Style
/*----------------------------------------*/
.stat-section {
  background: green;
}

.stat-section .single-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.stat-section .single-stat h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.stat-section .single-stat .odometer-inside {
  font-size: 52px !important;
}

.stat-section .single-stat .sub-text {
  margin-left: 20px;
  font-size: 18px !important;
  font-weight: 600;
}

/*----------------------------------------*/
/*  07. Why-Choose Section Style
/*----------------------------------------*/
.why-choose-section {
  .row {
    position: relative;
  }

  .single-why {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e2eaf6;
    padding: 20px;
    transition: $transition;
    margin-bottom: 2rem;
    h4 {
      margin: 20px 0;
    }

    @media (min-width: 991px) {
      margin-bottom: 0;
    }
  }

  .single-why:hover {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  }

  .why-left-wrap {
    max-width: 485px;
    float: right;

    @media (max-width: 485px) {
      width: 100%;
    }

    @media (max-width: 1199px) and (min-width: 992px) {
      width: 100%;
    }

    @media (max-width: 991px) {
      padding-top: 30px;
      margin: 0 auto;
      float: none;
      text-align: center;
    }
  }

  h5 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0px;
    padding: 20px 0px;
  }

  p {
    margin-bottom: 20px;
  }
}
