nav {
  position: fixed;
  width: 100%;
  z-index: 7;
  height: 4.5em;
  transition: $transition;

  .nav-header {
    width: 100%;
  }

  .btn {
    margin-top: 0;
  }

  .links-container {
    background: green;
    position: fixed;
    height: 100%;
    width: 70%;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: $transition;
    z-index: 9;
    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      align-items: center;
      li {
        display: inline-block;
        @media screen and (min-width: 992px) {
          margin-right: 2em !important;
          &:last-child {
            margin-right: 0 !important;
          }
        }
        a {
          font-family: $montserratMedium;
          text-transform: uppercase;
          color: $black;
        }
      }
      @media screen and (min-width: 767px) {
        flex-direction: row;
      }
    }
  }

  a {
    text-decoration: none;
  }

  .menu-open {
    display: flex !important;
    transform: translateX(0);
  }

  #menu-btn {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 20;
    transition: $transition;

    span {
      background: grey;
      width: 32px;
      height: 4px;
      margin-bottom: 0.25em;
      display: block;
      transition: $transition;
    }

    .menu-btn-open {
      transform: rotate(45deg);
      margin: 0;
    }

    .menu-btn-open-2 {
      transform: rotate(-45deg);
      position: relative;
      margin: 0;
      bottom: 4px;
    }

    .menu-close {
      display: none;
      margin: 0;
    }

    .span:last-child {
      margin-bottom: 0em;
    }
  }

  @media (min-width: 992px) {
    .links-container {
      position: static;
      background: transparent;
      transform: translateX(0);
      width: auto;
      //   ul li:nth-last-child(-n + 2) {
      //     display: none;
      //   }
    }

    .nav-header {
      width: auto;
    }

    #menu-btn {
      display: none;
    }
  }
}

/* fixed nav */
.fixed-nav {
  position: fixed;
  height: 5.5em;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: $navShadow;
  z-index: 4;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}

.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.overlay {
  background: $grey;
  opacity: 0.6;
  width: 100%;
  height: 200vh;
  z-index: 7;
  position: fixed;
  transition: $transition;
  display: none;
}

.overlay-visible {
  display: block;
  transition: $transition;
}
