// Colors
$lightBlue: #75c6fd;
$darkBlue: #1668a0;
$bgColor: #f5fbff;
$navShadow: 0px 2px 10px 0px rgba(117, 198, 253, 0.5);
$iconShadow: 0px 0px 20px 0px rgba(117, 198, 253, 0.5);

// Fonts

// Transitions
$transition: all 0.3s ease;
