// Colors
$primaryColor: #46b3e6;
$secondaryColor: #75c6fd;
$actionColor: #1668a0;
$lightBlue: #f5fbff;
$black: #3f3c3c;
$grey: #555555;
$white: #ffffff;
$darkBlue: #1668a0;
$navShadow: 0 5px 10px rgba(154, 160, 185, 0.05),
  0 15px 40px rgba(166, 173, 201, 0.2);
$iconShadow: 0px 0px 20px 0px rgba(117, 198, 253, 0.5);
$boxShadow: 0 5px 10px rgba(154, 160, 185, 0.05),
  0 15px 40px rgba(166, 173, 201, 0.2);

// Fonts
$staatliches: "Staatliches", sans-serif;
$montserratBold: "Montserrat Bold", sans-serif;
$montserratSemibold: "Montserrat Semibold", sans-serif;
$montserratRegular: "Montserrat Regular", sans-serif;
$montserratMedium: "Montserrat Medium", sans-serif;

// Transitions
$transition: all 0.4s ease;
$borderRadius: 8px;
$padding: 1.5rem 2rem;
$transform: translateY(-6px);
