nav {
  position: fixed;
  width: 100%;
  z-index: 8;
  height: 4.5em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav .nav-header {
  width: 100%;
}

@media (min-width: 992px) {
  nav .list-inline-item {
    margin-right: 2em !important;
  }
  nav .list-inline-item:last-child {
    margin-right: 0 !important;
  }
  nav .links-container a {
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
  }
  nav .links-container .a-dark:hover {
    color: grey;
    text-decoration: none;
    padding-bottom: 3px;
  }
  nav .links-container .a-light:hover {
    color: white;
    text-decoration: none;
    padding-bottom: 3px;
  }
}

nav a {
  text-decoration: none;
}

nav .links-container {
  position: fixed;
  height: 100%;
  width: 70%;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 7;
}

nav .links-container ul {
  margin: 0;
}

nav .menu-open {
  display: block !important;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

nav #menu-btn {
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 20;
}

nav #menu-btn span {
  background: grey;
  width: 32px;
  height: 4px;
  margin-bottom: 0.25em;
  display: block;
}

nav #menu-btn .span-dark {
  background: grey;
}

nav #menu-btn .span-white {
  background: white;
}

nav #menu-btn .menu-btn-open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
}

nav #menu-btn .menu-btn-open-2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  margin: 0;
  bottom: 4px;
}

nav #menu-btn .menu-close {
  display: none;
  margin: 0;
}

nav #menu-btn .span:last-child {
  margin-bottom: 0em;
}

@media (min-width: 992px) {
  nav a {
    color: white;
  }
  nav .a-light {
    color: white;
  }
  nav .a-dark {
    color: grey;
  }
  nav .links-container {
    position: static;
    background: transparent;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: auto;
  }
  nav .nav-header {
    width: auto;
  }
  nav #menu-btn {
    display: none;
  }
}

/* fixed nav */
.fixed-nav {
  position: fixed;
  height: 5.5em;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  -webkit-box-shadow: white;
          box-shadow: white;
  z-index: 4;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 2rem;
  height: 2rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}

.show-link {
  visibility: visible;
  z-index: 100;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

header {
  height: 100vh;
  background: #f5fbff;
}

body {
  background: lightgrey;
  height: 200vh;
}
/*# sourceMappingURL=style.css.map */